*{
    color: white;
}

h3{
    margin:0;
}

.bottom{
    display: flex;
    justify-content: space-around;
}

.adresse, .reseau{
    display: flex;
    width: 12em;
    justify-content: space-around;
}
