#footer{
    margin-top: 30px;
    display: flex;   
}

.footer-container{
    width: 100%;
    flex-direction: row-reverse;
    height: 25vh;
}
#left{
    background-color: #29313d;
    flex: 1;
}

#right{
    background-color:rgb(197,90,17);
    flex: 1;
}

@media screen and (max-width: 900px) {
    .footer-container{
        display: block;
    }
}