:root{
    --main-color:#f8fefe;
    --main-color-grey:#333333;
    --main-color-black:#29313d;
    --main-color-orange:#c55a11;
    --main-color-blue:#2566c7;
    --main-color-blueTwo:#d8ddef;
    --main-color-green:rgb(130,168,104);
}