header{
    background-color:#29313d;
    height: 60px;
}
.header-container{
    // width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

header .nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3em;
    width: 36em;
    margin-top: 10px;
}

header .logo{
    font-size: 2rem;
    margin-top: 10px;
}

header .nav-bar ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    width: 28rem;
    background-color:rgb(197,90,17);
    list-style: none;
    padding: 0.2em;
    margin: 5px 0;
    font-size: 1.2em;
    border-radius: 5px;
}

header 
.nav-bar ul li a, 
mat-icon, 
.logo a,
.burger a{
    text-decoration: none;
    color: white;
    opacity: 1;
}

.material-icons-sharp{
    transform: scale(1.8);
    margin-top: 6px;
}

.burger{
    transform: scale(1.5);
    position: absolute;
    top: 17px;
    right: 60px;
    display: none;
}

@media screen and (max-width: 900px) {

    header .nav-bar {
        display: none;;
    }
    .header-container{
        padding:10px;
    }

    .burger{
        display: block;

    }
}

