<header >
    <div class="header-container  container">
        <div class="logo">
            <a href="#">LOGO</a>
        </div>
        <div class="nav-bar ">
            <ul>
                <li><a routerLink="/home">Accueil</a></li>
                <li><a routerLink="#">Produits</a></li>
                <li><a routerLink="#">Contact</a></li>
                <li><a routerLink="#">Connexion</a></li>
                <li><a routerLink="#"><span class="material-icons">shopping_cart</span></a></li>            
            </ul>
            <div class="user-icon">
                <a routerLink="/edit-profil"><mat-icon class="material-icons-sharp">
                    account_circle
                    </mat-icon></a>
            </div>
        </div>
        <div class="burger">
            <a href="#">
                <span class="material-icons">menu</span>
            </a>
            
        </div>
    </div>
    
</header>
