<header >
    <div class="header-container container">
        <div class="logo">
            <a href="#">LOGO</a>
        </div>
        <div class="nav-bar">
            <ul>
                <li *ngFor="let item of navs_data"><a [routerLink]="item?.path">{{ item?.name }}</a></li>
                <li><a routerLink="#"><span class="material-icons">shopping_cart</span></a></li>            
            </ul>
            <div class="user-icon">
                <a routerLink="/edit-profil"><mat-icon class="material-icons-sharp">
                    account_circle
                    </mat-icon></a>
            </div>
        </div>
        <div class="burger" (click)="handleDisplayMobileNav()">
                <span class="material-icons">menu</span>
        </div>
    </div>
    
</header>
<!-- affichage du menu si l'ecran est en dessous de 900px -->
<app-aside-nav 
(close)="handleCloseMobileNav()"
*ngIf="isDisplayMobileNav"></app-aside-nav>
