<div class="categories-container ">
    <div class="container  flex jcsb">
        <div class="categorie">
            <div class="categorie-image">
                <img src="assets/images/ppn.webp"  alt="image ppn">
            </div>
            <div class="categorie-info">
                <h3>
                    <a href="#">PPN</a>
                </h3>
            </div>
        </div>
        <div class="categorie">
            <div class="categorie-image">
                <img src="assets/images/hygiene.jpeg"  alt="image hygiene">
            </div>
            <div class="categorie-info">
                <h3>
                    <a href="#">Santé - Hygiène</a>
                </h3>
            </div>
        </div>
        <div class="categorie">
            <div class="categorie-image">
                <img src="assets/images/scolaire.png"  alt="image kit scolaire">
            </div>
            <div class="categorie-info">
                <h3>
                    <a href="#">Kit Scolaire</a>
                </h3>
            </div>
        </div>
        <div class="categorie">
            <div class="categorie-image">
                <img src="assets/images/bricolage.jpeg"  alt="image bricolage">
            </div>
            <div class="categorie-info">
                <h3>
                    <a href="#">Travaux</a>
                </h3>
            </div>
        </div>
        <div class="categorie">
            <div class="categorie-image">
                <img src="assets/images/culture.png"  alt="image bricolage">
            </div>
            <div class="categorie-info">
                <h3>
                    <a href="#">Culture</a>
                </h3>
            </div>
        </div>
    </div>
</div>
