<div class="categories-container  flex jcc aic ">
    <div class="content container flex jcsa">
        <div class="categorie">
            <div class="categorie-image">
                <a href="#">
                    <img src="assets/images/ppn.webp"  alt="image ppn">
                </a>
            </div>
            <div class="categorie-info">
                <h3>
                    <a href="#">PPN</a>
                </h3>
            </div>
        </div>
        <div class="categorie">
            <div class="categorie-image">
                <a href="#">
                    <img src="assets/images/hygiene.jpeg"  alt="image hygiene">
                </a>
            </div>
            <div class="categorie-info">
                <h3>
                    <a href="#">SANTE & HYGIENE</a>
                </h3>
            </div>
        </div>
        <div class="categorie">
            <div class="categorie-image">
                <a href="#">
                    <img src="assets/images/scolaire.png"  alt="image kit scolaire">
                </a>
            </div>
            <div class="categorie-info">
                <h3>
                    <a href="#">KIT SCOLAIRE</a>
                </h3>
            </div>
        </div>
        <div class="categorie">
            <div class="categorie-image">
                <a href="#">
                    <img src="assets/images/bricolage.jpeg"  alt="image bricolage">
                </a>
            </div>
            <div class="categorie-info">
                <h3>
                    <a href="#">TRAVAUX</a>
                </h3>
            </div>
        </div>
        <div class="categorie">
            <div class="categorie-image">
                <a href="#">
                    <img src="assets/images/culture.png"  alt="image bricolage">
                </a>
            </div>
            <div class="categorie-info">
                <h3>
                    <a href="#">CULTURE</a>
                </h3>
            </div>
        </div>
    </div>
</div>
