<!-- Création de la barre de recherche -->
<div class="website-searchBar-container">
<!-- Mise en place de container pour centrer la page -->
    <div class="container">
        <div class="website-searchBar container flex aic gap-10">
            <div class="website-adresse">
                <h2>
                    Vitsika
                </h2>
            </div>
            <div class="website-search-bar flex-1 flex ">
                <input type="search" name="product_filter" id="product_filter" class="flex-1 px-20" placeholder="Rechercher ..."/>
<!-- Création de select Catégories -->
                <select name="categories" id="categories" >
                    <option class="tc" value="">Categories</option>
                    <option value="">Produits du quotidien</option>
                    <option value="">Santé et Hygiène</option>
                    <option value="">Kit scolaire</option>
                    <option value="">Bricolage</option>
                    <option value="">Services</option>
                </select>
<!-- icone loop de recherche -->
                <div class="website-search-icon  flex aic jcc">
                    <a href="#">
                        <mat-icon class="material-icons">
                            search
                        </mat-icon>
                    </a>
                </div>
            </div>
            <div class="website-phone flex aic gap-10">
                <div class="call-icon">
                    <a href="#">
                        <mat-icon class="material-icons ">
                            phone
                        </mat-icon>
                    </a>
                </div>
                <div class="call-message">
                    <h3>Appelez-nous</h3>
                    <a href="tel:+261202254426">+261 32 000 00</a>
                </div>
                
            </div>
        </div>
    </div>
</div>
