
.profil-name{
    background-color:var(--main-color-blue);
    // background-image: url('/assets/images/fourmis.jpeg');
    height: 260px;
    position: relative;
}

img{
    height: 260px;
    width: 100%;
    object-fit: cover;
    z-index: 50;
}

.name{
    color: white;
    padding: 38px 0;
}

.user-icon{
    font-size: 300px;
    background-color:var(--main-color-blueTwo);
    height: 104px;
    border-radius: 3px;
    max-width: 992px;
    border: solid 1px #29313d;
    // line-height: 0%;
    position: relative;
    // transform: translate(50%,50%);
}

:host ::ng-deep  .material-icons-sharp {
    display: flex;
    height: 100px;
    width: 100px;
    font-size:70px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10%;
    transform: translate(-50%, -50%);
    left: 50%;
    color: white;
}

.cercle { 
    height: 0.5em; 
    width: 0.5em; 
    background-color:#003153;
    border: 2px solid #003153;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
} 

:host ::ng-deep  .mat-raised-button {
    background-color: rgb(197,90,17);
    border-radius: 5px;
    position: absolute;
    top: 30%;
    right:8%;
    color: white;
    box-sizing: content-box;
}

/*---------------*
Media query
*----------------*/
@media screen and (max-width: 900px){
    .cercle { 
        height: 0.3em; 
        width: 0.3em; 
    } 

    :host ::ng-deep  .mat-raised-button {
        // position: absolute;
        top: 30%;
        right: 6%;
    }

    h2{
        font-size: 1.2em;
    }

    p{
        font-size: 0.8em;
    }

}