<div  class="profil-name ">
    <img src="assets/images/fourmis.jpeg" alt="backgorund">
    <div class="profil-container">
        <div  class="name container">
            <h2>Bonjour Profile Name</h2>
            <p>Ceci est votre page de profil</p>       
        </div>
        <div class="user-icon container  flex aic jcc ">
            <div class="photo-profil">
                <div class="cercle flex jcc">
                </div>
                <div class="icon">
                    <mat-icon class="material-icons-sharp ">
                        account_circle
                    </mat-icon> 
                </div>
            </div>
            <div class="button-profil">
                <app-button buttonValue="EDIT PROFIL"></app-button>
            </div>
        </div>
    </div>
</div>
