img{
    height: 250px;
    width: 250px;
    margin: 0 auto;
    object-fit: cover;
}

.product-item{
    text-align: center;
    border: 0.1px solid var(--main-color-black);
    width: 250px;
    text-align: center;
    cursor: pointer;
}

.product-item:hover{
    background-color:var(--main-color-green) ;
    color: var(--main-color);
}

.product-name{
    margin: 5px 0;
    height: 40px;
}

.product-price{
    margin: 0;
    line-height: 50%;
}