.modal-product-view-container{
    height: 400px;
    width: 650px;
    background-color: var(--main-color-green);
    position: fixed;
    z-index: 800;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

.overlay{
    background-color: var(--main-color-black);
    position: fixed;
    z-index: 80;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.8;
}

.modal-product-view-container img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.modal-product-view-details{
    flex-direction: column;
}

:host ::ng-deep  app-button {
    margin-top: 20px;
    width: 50%;
    margin: 30px auto;
}

@media screen and (max-width:768px){
    .modal-product-view-container{
        width: 100%;
        height: 50%;
    }
}