.modal-product-view-container{
    height: 500px;
    width: 700px;
    background-color: var(--main-color);
    position: fixed;
    z-index: 888;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

.overlay{
    background-color: var(--main-color-black);
    position: fixed;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.8;
}

.modal-product-view-container img{
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.modal-product-view-details{
    background-color: var(--main-color-green);
    border-radius: 5px;
}

