<div class="modal-product-view">
    <div class="overlay"></div>
    <div class="modal-product-view-container flex">
        <div class="modal-product-view-image flex-1">
            <img 
            src="assets/images/products_ppn/ppn_haricots/1.jpeg" 
            alt="">
        </div>
        <div class="modal-product-view-details tc flex flex-1 jcc">
            <app-page-title title="Name"></app-page-title>
            <div class="modal-product-view-details-price">
                <h4>€ 440</h4>
            </div>
            <div class="modal-product-view-details-created-at">
                Crée le: 12/12/2025
            </div>
            <app-button  buttonValue="FERMER"></app-button>
        </div>
    </div>

</div>
