<div class="page-title flex aic jcsb container ">
    <app-page-title title="Les produits essentiels" ></app-page-title>
</div>
<!-- Affichage du composant product-item --> 
<div class="product-list container ">
    <app-product-item-ppn 
        *ngFor="let product_ppn of products_ppn" [product_ppn] = "product_ppn"
        (displayProductViewModal)="handleDisplayProductViewModal($event)">
    </app-product-item-ppn>
<!-- lorsque isDisplay est "true" et modalProduct existe: on l'affiche et donner la val product-ppn -->
    <app-modal-product-view 
    *ngIf="isDisplayModal && modalProduct"
    [product_ppn]="modalProduct"
    (close)="handleCloseModal()"
    >

    </app-modal-product-view>
</div>

