<div class="contact-profil-container   py-20">
    <div class="titre-page mt-10 ml-40 ">
        <app-page-title title="Contact Utilisateur"></app-page-title>
    </div>

    <div class="contact-container  container px-0  py-20">
        <form action="" method="post">
            <div class="form-line">
                <div class="phone mb-20">
                    <label >Téléphone</label>
                    <input type="tel" name="phone" id="phone">
                </div>
                <div class="phone ">
                    <label >Adresse</label>
                    <input type="text" name="adresse" id="adresse">
                </div>
            </div>
            <div class="bottom-input container flex jcsb   pt-20">
                    <div class="ville pb-20">
                        <label >Ville</label>
                        <input type="text" name="ville" id="ville">
                    </div>
                    <div class="ville pb-20">
                        <label >Code Postal</label>
                        <input type="text" name="code-postal" id="code-postal">
                    </div>
                    <div class="ville ">
                        <label >Pays</label>
                        <input type="text" name="pays" id="pays">
                </div>
            </div>
        </form>
    
    </div>
    
</div>
