<app-search-bar></app-search-bar>

<div class="categories-container ">

    <mat-progress-spinner [mode]="'indeterminate'" *ngIf="loading$ |async"></mat-progress-spinner>
    <ul class="categorie container flex jcc aic " >
        <li class="listPuce flex " *ngFor="let cat of categories_data" >
            <div class="categorie-image" >
                <a href="#" (click)="filterProducts(cat.name)" (click)="fetchCat()">
                    <img src="{{ cat?.image }}" >
                </a>
                
            </div>
            <div class="categorie-info">
                <a href="#"(click)="filterProducts(cat.name)" (click)="fetchCat()">{{ cat?.name }} </a>
            </div>
        </li>
    </ul>
</div>

<div class="page-title flex  mt-5 container aic px-0">
    <h2>{{ title }}</h2>
</div>
<!-- Affichage du composant product--> 
<div class="product-list container">
    <app-product 
        *ngFor="let product of products" [product] = "product"
        (displayProductViewModal)="handleDisplayProductViewModal($event)">
        <!-- ($event) pour recuperer l'evenement -->
        <!-- "PS:au dessus":Des lors que l'evenement displayProductViewModal est declencher,executer la methode handle-->
    </app-product>

    <app-modal-product-view 
    *ngIf="isDisplayModal && modalProduct"
    [product]="modalProduct"
    (close)="handleCloseModal()"
    >
    </app-modal-product-view>
</div>






