<div class="user-profil-container container py-20">
    <div class="titre-page mt-10 ml-40 ">
        <app-page-title title="Informations Utilisateur"></app-page-title>
    </div>
    <!-- Mise en place des inputs  -->
    <div class="user-container   py-20 ">
        <form action="" method="post" >
            <div class="form-line">
                <div class="user-container-item mb-20 ">
                    <label >Pseudo</label>
                    <input readonly="readonly" type="text" name="username" id="username">
                </div>    
                <div class="user-container-item  ">
                    <label >Nom</label>
                    <input readonly="readonly" type="text" name="firstname" id="firstname">
                </div>
            </div>

            <div class="form-line">
                <div class="user-container-item mb-20">
                    <label >Mail</label>
                    <input type="email" name="email" id="email" placeholder="votremail@mail.com">
                    
                </div>

                <div class="user-container-item">
                    <label >Prénom</label>
                    <input readonly="readonly" type="text" name="firstname" id="firstname">
                </div>
            </div>
        </form>
    </div>

</div>


