
.user-profil-container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    // padding: 0 ;
}

form{
    display: flex;
    justify-content: space-around;
}

.user-container-item{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 4px;
}

label{
    padding-bottom: 3px;
}

@media (max-width: 900px){
    .user-container{
        display: flex;
        flex-direction: column;
        flex: 1;
    }
    form{
        display: block;
    }
}
